body {
  .fast-product {
    $background-color: #fff;
    $border-color: #9d8af5;
    $title-color: #000;
    $subtitle-color: #dd5eb9;
    $price-color: #000;

    $title-fs: 22px;
    $subtitle-fs: 18px;
    $price-fs: 22px;

    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 4px;

    .wp-block-group__inner-container {
      margin: 2em;

      @media screen and (min-width: 900px) {
        column-gap: 1em;
        display: grid;
        grid-template-areas:
          "image subtitle"
          "image title"
          "image price"
          "image button"
          "description description";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-items: start;

        > * {
          margin: 0;
        }

        .fast-product__price,
        .fast-product__title,
        .fast-product__subtitle,
        form {
          margin-bottom: 0.5em;
        }

        .fast-product__description {
          margin-top: 1em;
        }
      }
    }

    &__image {
      grid-area: image;
    }

    &__title {
      grid-area: title;
    }

    &__price {
      grid-area: price;
    }

    &__description {
      grid-area: description;
    }

    form,
    [data-type="fast-co/checkout-button"] {
      grid-area: button;
    }

    &__price,
    &__title,
    &__subtitle,
    &__description,
    form {
      width: 100%;
    }

    &__subtitle {
      color: $subtitle-color;
      font-size: $subtitle-fs;
      font-weight: bold;
    }

    &__title {
      color: $title-color;
      font-size: $title-fs;
      font-weight: bold;
    }

    &__price {
      color: $price-color;
      font-size: $price-fs;
      font-weight: bold;
    }
  }
}
