// Gutenberg editor only styles.

@import "./common";

// Preview of the Checkout button in Gutenberg editor.
.fast-co-button-preview {
  background-color: var(--fast-button-bg, #000);
  border: 1px solid var(--fast-button-border-color, transparent);
  border-radius: 8px;
  color: var(--fast-button-color, #fff);
  font: bold 18px/50px Arial, sans-serif;
  height: 50px;
  text-align: center;
  width: 100%;

  svg {
    margin-right: 10px;

    path {
      fill: var(--fast-button-icon-color, #fff);
    }
  }
}

.fast-quantity {
  background: var(--fast-button-quantity-bg, #fff);
  border: 1px solid var(--fast-button-quantity-border-color, #ddd);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--fast-button-quantity-color, #000);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;

  &::before,
  &::after {
    border-right: 1px solid var(--fast-button-quantity-border-color, #ddd);
    content: "-";
    height: 50px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
  }

  &::after {
    border-left: 1px solid var(--fast-button-quantity-border-color, #ddd);
    border-right: 0;
    content: "+";
    left: auto;
    right: 0;
  }
}
